doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.css')
    script(src='/stylesheets/bootstrap/js/bootstrap.js')

  body
    block content
